---
const { top, bottom, left, right } = Astro.props;

const position = `top: ${top}; bottom: ${bottom}; left: ${left}; right: ${right}`;
---

<div class="relative inline-block text-left bg--primary">
  <div id="activator">
    <slot name="activator" />
  </div>

  <div
    id="menu-content"
    class="absolute mt-2 rounded-md shadow-lg bg-white menu"
    role="menu"
    style={position}
  >
    <slot />
  </div>
</div>

<script>
  let isDropdownActive = false;

  const activator = document.getElementById("activator");
  const menuContent = document.getElementById("menu-content");

  document.addEventListener("click", function (event) {
    if (
      !activator.contains(event.target) &&
      !menuContent.contains(event.target)
    ) {
      hideDropdown(event);
    }
  });

  activator.addEventListener("click", toggleDropdown);

  function toggleDropdown(event) {
    event.stopPropagation();
    isDropdownActive = !isDropdownActive;
    isDropdownActive
      ? menuContent.classList.add("show")
      : menuContent.classList.remove("show");
  }

  function hideDropdown(event) {
    event.stopPropagation();

    isDropdownActive = false;

    menuContent.classList.remove("show");
  }
</script>

<style lang="scss" scoped>
  .menu {
    transition: opacity 0.3s linear;
    visibility: hidden;
    transition:
      visibility 0s 0.1s,
      opacity 0.1s linear;
    opacity: 0;
  }
  .show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s linear;
  }
</style>
