---
import BaseButton from "./BaseButton.vue";

const {
  downloadLink,
  prependIcon,
  size,
  outline,
  class: className,
} = Astro.props;
---

<BaseButton
  client:load
  download-link={downloadLink}
  prepend-icon={prependIcon}
  size={size}
  outline={outline}
  class={className}
>
  <span class="text-2xl font-bold">
    <slot />
  </span>
</BaseButton>
