---
import BaseButton from "./BaseButton.astro";

const {
  downloadLink,
  prependIcon,
  size,
  outline,
  id,
  class: className,
  fileName = "cv",
} = Astro.props;
---

<BaseButton
  downloadLink={downloadLink}
  prependIcon={prependIcon}
  size={size}
  outline={outline}
  class={className}
  fileName={fileName}
  buttonId={id}
>
  <span class="text-2xl font-semibold">
    <slot />
  </span>
</BaseButton>
