---
const { src, title, siteUrl, alt } = Astro.props;

import BaseCard from "./BaseCard.astro";
import CardText from "./CardText.astro";
---

<a
  class="flex ml-auto cursor-pointer"
  title={alt}
  href={siteUrl}
  target="_blank"
>
  <BaseCard class="rounded-lg card">
    <picture>
      <source
        sizes="(min-width: 347px)"
        type="image/avif"
        srcset={`projects/${src}.full.avif 1900w, projects/${src}.1280.avif 1280w, projects/${src}.640.avif 640w`}
      />
      <source
        sizes="(min-width: 347px)"
        type="image/webp"
        srcset={`projects/${src}.full.webp 1900w, projects/${src}.1280.webp 1280w, projects/${src}.640.webp 640w`}
      />
      <img
        class="w-full h-auto rounded-t-lg"
        decoding="async"
        loading="lazy"
        width="1256"
        height="1004"
        alt={alt}
        srcset={`projects/${src}.full.jpg 1900w, projects/${src}.1280.jpg 1280w, projects/${src}.640.jpg 640w`}
      />
    </picture>
    <CardText class="flex justify-center">
      <h3 class="font-bold text-2xl">
        {title}
      </h3>
    </CardText>
  </BaseCard>
</a>

<style lang="scss" scoped>
  .card {
    background: var(--bg-card);
  }

  .h-100px {
    height: 100px;
  }
</style>
