---
const { src, title, siteUrl, alt } = Astro.props;

import { Picture } from "astro:assets";

import expensesTrackerImage from "../assets/expenses-tracker.jpg";

import BaseCard from "./BaseCard.astro";
import CardText from "./CardText.astro";
---

<a
  class="flex ml-auto cursor-pointer"
  title={alt}
  href={siteUrl}
  target="_blank"
>
  <BaseCard class="rounded-lg card">
    <Picture
      class="w-full h-auto rounded-t-lg"
      src={src}
      widths={[1280, expensesTrackerImage.width]}
      formats={["avif", "webp"]}
      alt={alt}
    />
    <CardText class="flex justify-center">
      <h3 class="font-semibold text-2xl">
        {title}
      </h3>
    </CardText>
  </BaseCard>
</a>

<style lang="scss" scoped>
  .card {
    background: var(--bg-card);
  }

  .h-100px {
    height: 100px;
  }
</style>
