---
import Base from "../../layouts/Base.astro";

import BaseGradient from "../../components/BaseGradient.astro";
import TopNav from "../../components/TopNav.vue";
import BottomNav from "../../components/BottomNav.vue";
import VueBackToTop from "../../components/VueBackToTop.vue";
import SectionHero from "../../components/SectionHero.vue";
import SectionAbout from "../../components/SectionAbout.astro";
import SectionSkills from "../../components/SectionSkills.astro";
import SectionProjects from "../../components/SectionProjects.astro";
import SectionAdditionalWork from "../../components/SectionAdditionalWork.astro";
import SectionContacts from "../../components/SectionContacts.vue";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const themes = [
  { value: "default", text: "Default", iconColor: "#33bebc" },
  { value: "crazy", text: "Crazy", iconColor: "#33bebc" },
  { value: "dark", text: "Dark", iconColor: "#cc925c" },
];

const links = [
  { link: "#home", text: "home" },
  { link: "#about", text: "about" },
  { link: "#skills", text: "skills" },
  { link: "#projects", text: "projects.title" },
  { link: "#additional-work", text: "additionalWork.title" },
  { link: "#social-networks", text: "contacts" },
];
---

<Base>
  <header>
    <div class="base-gradient">
      <BaseGradient degrees="180deg" height="6" class="base-gradient" />
    </div>
    <div class="top-0 left-0 right-0 top-bar">
      <TopNav client:load links={links} themes={themes} />
    </div>
  </header>

  <main class="container mx-auto">
    <SectionHero t={t} id="home" />
    <SectionAbout id="about" />
    <SectionSkills id="skills" />
    <SectionProjects id="projects" />
    <SectionAdditionalWork id="additional-work" />
    <SectionContacts client:visible id="social-networks" />

    <div class="fixed bottom-0 left-0 right-0 z-50 bottom-nav">
      <BottomNav client:load links={links} themes={themes} />
    </div>
    <div class="mt-20 pt-10 sm:mt-0 content"></div>
    <VueBackToTop client:load />
  </main>
</Base>

<script>
  import { setTheme } from "../../utils/themeHelper";
  import { lang } from "../../stores/langStore.js";
  import en from "../../i18n/en";

  lang.set(en);

  // Handle events
  addEventListener("load", () => {
    const theme = localStorage.getItem("theme") ?? "default";
    setTheme(theme);
  });
</script>
