---
import BottomNav from "@/components/BottomNav.astro";
import VueBackToTop from "@/components/VueBackToTop.astro";
import BaseGradient from "@/components/BaseGradient.astro";
import TopNav from "@/components/TopNav.astro";

import { getLangFromUrl } from "../i18n/utils";

const themes = [
  { value: "default", text: "Default", iconColor: "#33bebc" },
  { value: "dark", text: "Dark", iconColor: "#cc925c" },
];

const links = [
  { link: "#home", text: "home" },
  { link: "#about", text: "about" },
  { link: "#skills", text: "skills" },
  { link: "#projects", text: "projects.title" },
  { link: "#additional-work", text: "additionalWork.title" },
  { link: "#contacts", text: "contacts" },
];

const keywords =
  "portfolio, jogarcia, web, web development, developer, development, backend, frontend, database";
const description =
  "Hello there! My name is Jose Garcia. I am a fullstack developer. Design, databases, frontend, backend and SEO is what I do. Take a look at my portfolio.";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jose Garcia | Portfolio</title>

    <meta name="author" content="jogarcia" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    <meta property="og:title" content="Jose | Web developer" />
    <meta property="og:site_name" content="Jose | Portfolio" />
    <meta property="og:description" content={description} />
    <meta property="og:keywords" content={keywords} />
    <meta property="og:author" content="jogarcia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.jose-garcia.net" />
    <meta property="og:image" content="website-logo-min.png" />
    <meta property="og:image:alt" content="Image of the portfolio" />
    <meta property="og:image:size" content="300" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="es_ES" />
    <meta property="og:copyright" content="Portfolio jogarcia" />

    <link rel="icon" type="image/x-icon" href="logo-extra-compressed.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pridi:wght@400;600;700&family=Righteous&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZáéíóúabcdefghijklmnopqrstuvwxyz0123456789./',?"
    />

    <style is:global lang="scss">
      @import "../styles/main.scss";
    </style>
  </head>

  <body>
    <header>
      <div class="base-gradient">
        <BaseGradient degrees="180deg" height="6" />
      </div>
      <div class="top-0 left-0 right-0 top-bar">
        <TopNav links={links} themes={themes} />
      </div>
      <div class="fixed bottom-0 left-0 right-0 z-50 bottom-nav">
        <BottomNav links={links} themes={themes} />
      </div>
    </header>

    <slot />
    <div class="invisible md:visible">
      <VueBackToTop />
    </div>
    <script>
      import { selectedTheme } from "@/stores/themeStore";
      import { toggleTheme, setTheme } from "@/utils/themeHelper";

      window.addEventListener("load", () => {
        const theme = localStorage.getItem("theme") ?? "default";

        if (!theme) return;

        selectedTheme.set(theme);
      });

      selectedTheme.listen((theme) => {
        theme ? setTheme(theme) : toggleTheme();
      });
    </script>
  </body>
</html>
